.table {
  border-collapse: collapse;
  width: 100%;
}

.headerCell {
  min-width: 150px;
  white-space: nowrap;
}

.wideHeaderCell {
  width: 100%;
}

.cell {
  padding: 3px;
  border-top: 1px solid #ccc;
  vertical-align: top;
}

.notFound {
  text-align: center;
  margin-top: 8px;
}
