.container {
  display: inline-block;
  vertical-align: top;
  width: 48.5%;
  padding: 10px 5px;
  box-sizing: border-box;
}

.icon {
  background-repeat: no-repeat;
  width: 64px;
  height: 64px;
  border-radius: 6px;
  float: left;
  box-shadow: 0px 0px 10px 0px black;
}

.content {
  margin: 0 0 0 74px;

  a {
    color: white;
  }
}

.title {
  font-size: 14px;
  margin: 0;
}

.description {
  margin: 5px 0 0 0;
  color: #ddd;
}
