.container {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  min-width: 300px;
  margin: 5px 0;
}

.title {
  font-size: 14px;
  margin: 0;
}

.content {
  margin: 5px 0 0 10px;
  color: #ddd;

  a {
    color: white;
  }
}
