.container {
  display: inline-block;
  vertical-align: top;
  font-size: 11px;
  text-align: left;
	color: black;
  padding: 5px;
  margin: 3px;
  min-height: 150px;
  width: 180px;
  overflow: hidden;

  background-color: #eeeeee;
  border-top: 3px solid lime;
}

.highlight {
  background-color: #aaaaaa;
  border-top: 3px solid green;
}

.infoWrapper {
  text-align: center;
}

.serverName {
  font-size: 12px;
  margin: 0;
}

.serverNumber {
  color: red;
  margin-right: 4px;
}

.timeout {
  color: red;
  font-weight: bold;
}

.playerCount {
  margin-top: 5px;
  text-align: center;
  font-weight: bold;
}

.playerList {
  list-style: none;
  padding: 0;
  margin: 0;
}
