.container {
  height: 5px;
}

.links {
  float: left;

  a {
    color: red;

    &:not(:first-of-type) {
      margin-left: 10px;
    }
  }
}

.languages {
  float: right;

  a {
    &:not(:first-of-type) {
      margin-left: 10px;
    }
  }
}
