.page {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: white;
  padding: 10px;
}

.title {
  font-size: large;
  text-align: center;
}

.separator {
  margin: 10px 0;
}
